body{
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: capitalize;
    background-color: #99ccff ;
}
.container{
    margin-top: 3%;
    background-color: 	 #004d99;
   position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    height: 400px;
 

}
.gemDiv{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column; 
}
input{
    width: 300px;
    outline: none;
    height: 40px;
    border-radius: 10px;
}

h1{
    text-transform: uppercase;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-size: 23px;
}
#dialogbox{

    height: 150px;
    position: absolute;
    top: 50%;
    background-color: white;
    border-radius: 15px;
 
}
.mybutton{
    color: #004d99;
    height: 40px;
    width: 120px;
    border-radius: 10px;
    border: none;

}
.your-button{
    margin-left: 40%;
    margin-top: 28% ;
    padding: 10px;
    border-radius: 10px;
    border: none;
    background-color: #004d99;
    color: white;
}